<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ @title }} - {{ @SITE }}</title>

  <!-- CSS  -->
  <link href="{{ @RESOURCE . 'css/icons/icons.css' }}" rel="stylesheet">
  <link href="{{ @RESOURCE . 'css/materialize.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ @RESOURCE . 'css/style.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
  <body>
    <h3 class="center upmaroon">Retrospective Artificially intelligent Network Assistant</h3>
    <div class="col l4 offset-l2 s12">
      <ul>
        <li><a id="saButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">SA</a></li>
        <li><a id="slbButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">SLB</a></li>
        <li><a id="closingButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Closing</a></li>
        <li><a id="cashLoanButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Cash Loan</a></li>
        <li><a id="osamButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">OSAM</a></li>
        <li><a id="regButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Registration</a></li>
        <li><a id="studActButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Student Activity</a></li>
      </ul>
    </div>
    <div class="col l4 offset-l2 s12">
      <ul>
        <li><a id="scholarshipButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Scholarship</a></li>
        <li><a id="stsButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">STS</a></li>
        <li><a id="counselButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Counseling</a></li>
        <li><a id="schoolDaysButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">School Days</a></li>
        <li><a id="saisButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">SAIS</a></li>
        <li><a id="acadButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Academic Related</a></li>
        <li><a id="otherButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Other Offices</a></li>
      </ul>
    </div>
    <div class="col l4 offset-l2 s12">
      <a id="testButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px;">Create Test Data</a>
    </div>
  <script src="{{ @RESOURCE . 'js/jquery.min.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/jquery-ui.min.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/materialize.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/index.js' }}"></script>
  

  </body>
</html>