<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ @title }} - {{ @SITE }}</title>

  <!-- CSS  -->
  <link href="{{ @RESOURCE . 'css/icons/icons.css' }}" rel="stylesheet">
  <link href="{{ @RESOURCE . 'css/materialize.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ @RESOURCE . 'css/style.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
  <body>
    <ul>
      <p style="margin-left: 50px;">Retrospective Artificially intelligent Network Assistant</p>
      <li><a id="saButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">SA</a></li>
      <li><a id="slbButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">SLB</a></li>
      <li><a id="closingButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Closing</a></li>
      <li><a id="cashLoanButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Cash Loan</a></li>
      <li><a id="osamButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">OSAM</a></li>
      <li><a id="regButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Registration</a></li>
      <li><a id="studActButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Student Activity</a></li>
      <li><a id="scholarshipButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Scholarship</a></li
      <li><a id="stsButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">STS</a></li>
      <li><a id="counselButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Counseling</a></li>
      <li><a id="schoolDaysButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">School Days</a></li>
      <li><a id="saisButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">SAIS</a></li>
      <li><a id="acadButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Academic Related</a></li>
      <li><a id="otherButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Other Offices</a></li>
      <li><a id="testButton" class="waves-effect waves-light inquiryButton btn" style="margin-top: 5px; margin-left: 50px;">Create Test Data</a></li>
    </ul>
  <script src="{{ @RESOURCE . 'js/jquery.min.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/jquery-ui.min.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/materialize.js' }}"></script>
  <script src="{{ @RESOURCE . 'js/rana.js' }}"></script>
  

  </body>
</html>